// Main settings - normally provided through `nextflow.config`
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Set default values
    fasta    = null
    outdir   = './results'
    tracedir = "${params.outdir}/pipeline_info"

    // No Conda, only Singularity
    enable_conda = false
}

// Singularity settings - normally provided through `conf/sanger.config`
singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '--bind /lustre --bind /nfs'

// Resource settings - normally provided through `conf/base.config`
process {

    // The following must be copied to your `conf/base.config`
    ///////////////////////////////////////////////////////////////////////////
    /*
    // NOTE: Wrap this with a "withName" clause that catches the sub-workflow name
    // Most of the pipeline requires very little resources
    cpus   = 1
    // but still gradually increase the resources to allow the pipeline to self-heal
    memory = { check_max( 50.MB * task.attempt, 'memory' ) }
    time   = { check_max( 30.min * task.attempt, 'time' ) }
    // NOTE END
    */
    ///////////////////////////////////////////////////////////////////////////
}

// Publishing settings - normally provided through `conf/modules.config`
process {

    // The following must be copied to your `conf/modules.config`
    ///////////////////////////////////////////////////////////////////////////
    withName: 'TABIX_TABIX_CSI' {
        ext.args = "--preset bed --csi"
    }
    withName: 'TABIX_TABIX_TBI' {
        ext.args = "--preset bed"
    }
    ///////////////////////////////////////////////////////////////////////////

    withName: "PREPARE_REPEATS:.*" {
        publishDir = [
            path: params.outdir,
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
