// Singularity options
singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '--bind /lustre --bind /nfs'

// Max resources
params {
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
}

// Special arguments and prefixes - add to `conf/modules.config` - remember to test and adapt if needed
process {

    withName: BWAMEM2_MEM {
        ext.args = { ( "${meta.datatype}" == "hic" ) ? "-5SPCp -R ${meta.read_group}" : "-R ${meta.read_group}" }
    }

    withName: SAMTOOLS_FASTQ {
        ext.args = '-F 0x200 -nt'
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: SAMTOOLS_COLLATE {
        ext.prefix = { "${meta.id}.collated" }
    }

    withName: SAMTOOLS_FIXMATE {
        ext.args = '-m'
        ext.prefix = { "${meta.id}.fixmate" }
    }

    withName: SAMTOOLS_MARKDUP {
        ext.prefix = { "${meta.id}.markdup" }
    }

    withName: SAMTOOLS_VIEW {
        ext.args = "--output-fmt cram"
    }
}
